[img_dataset]

path: /homeLocal/guilherme/SUN397_Completo
txt: /homeLocal/guilherme/Testes/S397Images.txt


[features]

scale0: /homeLocal/guilherme/Testes/S397Final/
scale1: /homeLocal/guilherme/Testes/S397Final/IMNET_feats/IMNET_451
scale2: /homeLocal/guilherme/Testes/S397Final/IMNET_feats/IMNET_899

[folds]
#caminho dos folds da primeira escala
path0: /homeLocal/guilherme/Testes/S397Final/folds/fold0.cfg
path1: /homeLocal/guilherme/Testes/S397Final/folds/fold1.cfg
path2: /homeLocal/guilherme/Testes/S397Final/folds/fold2.cfg
path3: /homeLocal/guilherme/Testes/S397Final/folds/fold3.cfg
path4: /homeLocal/guilherme/Testes/S397Final/folds/fold4.cfg


[cnn_model]

caffemodel: /homeLocal/guilherme/models/VGG_ILSVRC_16_layers/VGG_ILSVRC_16_layers.caffemodel
deploy: /homeLocal/guilherme/models/VGG_ILSVRC_16_layers/VGG_ILSVRC_16_layers_deploy.prototxt
mean: /homeLocal/guilherme/models/VGG_ILSVRC_16_layers/mean2.npy
crop: 224
layer: fc7

[img_set]

size0: 1
stride0: 1
size1: 2
stride1: 2
size2: 4
stride2: 2

[params]

dict_sizes: 30 45 60
lasso: 0.01 0.05 0.1
omp: 0.05 0.1 0.25
with_pca: True
components: 1000 1000 1000


[scripts]
poolscript: /homeLocal/guilherme/definitive/featPool.py
svmscript: /homeLocal/guilherme/definitive/svm.py
stackscript: /homeLocal/guilherme/definitive/stackFeats.py
pcascript: /homeLocal/guilherme/definitive/cnnPCA.py
dictscript: /homeLocal/guilherme/definitive/buildCNNsdict_wb_all.py
savescript: /homeLocal/guilherme/definitive/saveFeats.py
concatscript: /homeLocal/guilherme/definitive/concatFeats.py
cdictscript: /homeLocal/guilherme/definitive/concatDict.py

