%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
%% This file is part of SceneUnderstanding@CIARP. 
% 
% SceneUnderstanding@CIARP is free software: you can redistribute it and/or modify 
% it under the terms of the GNU General Public License as published by 
% the Free Software Foundation, either version 3 of the License, or 
% (at your option) any later version. 
% 
% SceneUnderstanding@CIARP is distributed in the hope that it will be useful, 
% but WITHOUT ANY WARRANTY; without even the implied warranty of 
% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
% GNU General Public License for more details. 
% 
% You should have received a copy of the GNU General Public License 
% along with SceneUnderstanding@CIARP. If not, see <http://www.gnu.org/licenses/>. 
% 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
[img_dataset]

path: /homeLocal/guilherme/SUN397_Completo
txt: /homeLocal/guilherme/Testes/S397Images.txt


[features]

scale0: /homeLocal/guilherme/Testes/S397Final/PLACES_feats/PLACES_227
scale1: /homeLocal/guilherme/Testes/S397Final/PLACES_feats/PLACES_451
scale2: /homeLocal/guilherme/Testes/S397Final/PLACES_feats/PLACES_899

[folds]
#caminho dos folds da primeira escala
path0: /homeLocal/guilherme/Testes/S397Final/folds/fold0.cfg
path1: /homeLocal/guilherme/Testes/S397Final/folds/fold1.cfg
path2: /homeLocal/guilherme/Testes/S397Final/folds/fold2.cfg
path3: /homeLocal/guilherme/Testes/S397Final/folds/fold3.cfg
path4: /homeLocal/guilherme/Testes/S397Final/folds/fold4.cfg


[cnn_model]

caffemodel: /homeLocal/guilherme/models/SUN397FINETUNE/vgg-s397_iter_iter_16064_bkp.caffemodel
deploy: /homeLocal/guilherme/models/SUN397FINETUNE/siat_scene_vgg_16_deploy.prototxt
mean: /homeLocal/guilherme/models/SUN397FINETUNE/s397_mean.npy
crop: 224
layer: fc7

[img_set]

size0: 1
stride0: 1
size1: 2
stride1: 2
size2: 4
stride2: 2

[params]

dict_sizes: 30 45 60
lasso: 0.01 0.05 0.1
omp: 0.05 0.1 0.25
with_pca: True
components: 1000 1000 1000


[scripts]
poolscript: /homeLocal/guilherme/sc_cnn/featPool.py
svmscript: /homeLocal/guilherme/sc_cnn/svm.py
stackscript: /homeLocal/guilherme/sc_cnn/stackFeats.py
pcascript: /homeLocal/guilherme/sc_cnn/cnnPCA.py
dictscript: /homeLocal/guilherme/sc_cnn/buildCNNsdict_wb_all.py
savescript: /homeLocal/guilherme/sc_cnn/saveFeats.py
concatscript: /homeLocal/guilherme/sc_cnn/concatFeats.py
cdictscript: /homeLocal/guilherme/sc_cnn/concatDict.py

